* {
    margin: 0;
    padding: 0;
}

/* BODY */

body {
    background-image: url("/res/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.img-logo-luditas{
    margin-left: 3%;
    margin-top: 6%;
    width: 30%;
}

.my-container {
    text-align: right;
    margin: 0;
    padding: 0;
    display: inline-block;
    right: 10%;
    top: 40%;
    position: absolute;
}

.text-container {
    float: left;
    color: white;
    margin-right: 5rem;
}

.text-container h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 52px;
    font-weight: 900;
}

.text-container p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

.img-tagem-logo-top {
    display: none;
}

.download-btn {
    margin-top: 2.5rem;
    width: 15.35rem;
}



/* FOOTER */

footer {
    background-color: #03989E;
    position: absolute;
    bottom: 0;
    height: 3.5rem;
    width: 100%;
}

.contact {
    display: inline-block;
    margin-top: 0.25rem;
    margin-left: 1.25rem;
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
    color: black;
}

:hover.contact {
    color: white;
    text-decoration: none;
}

.img-footer {
    display: inline-block;
    position: absolute;
    right: 1.5rem;
    margin-top: 0.5rem;
}

@media (max-width: 600px) {

    .my-container {
        display: block;
        position: static;
        text-align: center;
        margin-top: 8rem;
    }

    .img-tagem-logo-top {
        display: inline-block;
    }

    .text-container {
        float: none;
        text-align: center;
        margin: auto;
        margin-top: 2rem;
    }

    .img-tagem-logo-bottom {
        display: none;
    }

    footer {
        position: static;
        height: 10rem;
        text-align: center;
        margin-top: 5rem;
    }

    .contact {
        font-size: 2rem;
        margin-top: 1rem;
    }

    .img-footer {
        display: block;
        position: static;
        margin: 1rem auto;
        margin-top: 2rem;
        width: 20rem;
    }
    
}


@media (min-width: 1000px) {

    .text-container h1 {
        font-size: 72px;
    }

    .text-container p {
        font-size: 30px;
    }

    .download-btn {
        margin-top: 2rem;
        width: 22.75rem;
    }

    .img-tagem-logo-bottom {
        width: 15rem;
    }
}

@media (min-width: 3000px) {

    .text-container {
        margin-right: 15rem;
    }

    .text-container h1 {
        font-size: 250px;
    }

    .text-container p {
        font-size: 120px;
    }

    .download-btn {
        margin-top: 8rem;
        width: 93rem;
        font-size: 100px;
        border-width: 5px;
    }

    .img-tagem-logo-bottom {
        width: 50rem;
    }

    footer {
        height: 10rem;
    }

    .contact {
        font-size: 100px;
    }

    .img-footer {
        width: 80rem;
    }
}