* {
    margin: 0;
    padding: 0;
}

/* BODY */

body {
    background-image: url("/res/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.img-logo-luditas{
    margin-left: 3%;
    margin-top: 6%;
    width: 30%;
}

.my-container {
    text-align: right;
    margin: 0;
    padding: 0;
    display: inline-block;
    right: 10%;
    top: 40%;
    position: absolute;
}

.text-container {
    float: left;
    color: white;
    margin-right: 5rem;
}

.text-container h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 52px;
    font-weight: 900;
}

.text-container p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

.download-btn {
    margin-top: 2.5rem;
    width: 15.35rem;
}



/* FOOTER */

footer {
    background-color: #03989E;
    position: absolute;
    bottom: 0;
    height: 3.5rem;
    width: 100%;
}

.contact {
    display: inline-block;
    margin-top: 0.25rem;
    margin-left: 1.25rem;
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
    color: black;
}

:hover.contact {
    color: white;
    text-decoration: none;
}

.img-footer {
    display: inline-block;
    position: absolute;
    right: 1.5rem;
    margin-top: 0.5rem;
}

@media (min-width: 1000px) {

    .text-container h1 {
        font-size: 72px;
    }

    .text-container p {
        font-size: 30px;
    }

    .download-btn {
        margin-top: 6.5rem;
        width: 22.75rem;
    }

    .img-tagem-logo {
        width: 20rem;
    }
}
