.box {
    width: 80%;
    margin: auto;
    padding: 2%;
    background: #B197C0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

#body_logo {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#body_google_play {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#body_text_bottom {
    color: black;
    font-weight: bold;
    text-align: center;
}

#footer_image {
    position: relative;
    margin: auto;
    float: left;
}
#footer_p1 {
    color: black;
    font-weight: bold;
    position: relative;
}
#footer_p2 {
    color: black;
    font-weight: bold;
    position: relative;
    text-align: right;
}
#text_title {
    text-align: center;
    color: black;
    padding-top: 10px;
}
#text_body {
    text-align: left;
    color: black;
    padding-top: 10px;
    padding-left: 24px;
    padding-right: 24px;
}
#body_policy {
    margin: auto;
    width: 340px;
    height: 970px;
    margin-top: 20px;
    position: relative;

    background: #B197C0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
#back_image {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}