* {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    background-color: #1255B3;
    color: white;
}

a {
    color: white;
}

img {
    display: block;
    margin: 0 auto;
}

section {
    background-color: #0D72FF;
    margin: 3%;
    padding: 7% 15%;
}

/* Sections */

/* HEADER */

.img-header {
    width: 100%;
}

/* APP */

.btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* FOOTER */

